html {
  background: #C7E0D1; 
  margin: 0;
  padding: 0;
}
body {
  background: white;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  font-family: Georgia, serif;
}

header {
  background: #454A40;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 24px;
}

header, section, aside {
  padding: 10px 5px 4px 10px;
}

h1, h2 {
  margin: 0;
  margin-bottom: 10px;
} 

table.apps td, table.apps th {
  width: 20%;
  text-align: left;
}
