- if apps && apps.count > 0
  %h2 Active Applications
  %table.apps
    %tr
      %th name
      %th
    - apps.each do |app|
      %tr
        %td= link_to app.name, app_path(app)
        %td
          = link_to "Add Build", new_app_build_path(app)
          |
          - if app.latest_build
            = link_to "Latest Build", download_app_build_path(app, app.latest_build)
          - else
            No Builds
- else
  %h2 No Applications
  = link_to 'Create New Application', new_app_path
